@using TasksEvaluation.Core.DTOs

@{
	ViewData["Title"] = "Delete";
}
@model StudentDto

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h3>Delete Student</h3>
<hr />

<div>
 	<div>
		<strong>Name:</strong> @Model.FullName
	</div>
	<div>
		<strong>Mobile Number:</strong> @Model.MobileNumber
	</div>
	<div>
		<strong>Email:</strong> @Model.Email
	</div>
	<div>
		<strong>Profile Picture:</strong><br />
		<img src="@Model.ProfilePic" alt="Student Photo" style="width: 150px; height: auto;" />
	</div>
</div>

<h3 class="mt-2">Are you Sure to Delete @Model.FullName ? </h3>
<form asp-action="Delete" > 
		<div class="form-group">
			<input asp-for="Id" hidden class="form-control" />
			<input type="submit" value="Delete" class="btn btn-danger" />
			<a class="btn btn-secondary" asp-action="GetAllStudents">Back To List</a>
		</div>


	</form>


